<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<footer th:fragment="footer" class="cols-xs-12 page-footer text-center">
		<h5>
			<strong th:text="#{title.copyright}"><br class="visible-xs" th:text="#{text.prjExt}"/> 
			</strong>
		</h5>
		<p>
			<strong>Project funding:</strong> MIUR — Ministero dell'Istruzione,
			dell'Università e della Ricerca<br /> <strong>Project ID:</strong>
			D.D. n. 84/Ric del 2/03/2012, D.D. n. 255/Ric del 30/05/2012, D.D. n.
			370/Ric del 26/06/2012
		</p>
	</footer>
</body>

</html>