<!-- 

	Parametri: 
				@param id: 				id and name of the input
				@param label:			label above the input
				@param iconClass:		class of the icon
				@param placeholder:     input placeholder
				@param maxlenght:     	input maxlength
				@param colSize:			column size of the div. Use 8 ad default, use 12 for inner input


 -->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="description-field (id, label, iconClass, placeholder, maxlength, rowNumber, colNumber, colSize)"  class="inputs">
		<label th:for="${id}" th:text="${label}">Descrizione</label>
		<div th:class="'checkbox wizard-input-section input-group col-md-' + ${colSize}"
			style="margin-top: 0">
			<span class="input-group-addon"><i th:class="${iconClass}"></i></span>
			<textarea class="form-control" th:id="${id}"
					th:name="${id}" th:placeholder="${placeholder}" data-serialize="1"
				required="required" th:maxlength="${maxlength}" th:rows="${rowNumber}" th:cols="${colNumber}"
				style="resize: none"></textarea>
		</div>
		<div class="alert alert-info alert-dismissable col-md-8 hidden"
			role="alert" th:id="${id + '-error'}">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span><span class="sr-only">Chiudi</span>
			</button>
			<div class="error-msg">
				<strong>Errore!</strong> La descrizione del servizio deve:
				<ul>
					<li>avere una lunghezza minima di 4 caratteri e massima di
						<span th:text="${maxlength}"></span>;</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>