<!-- 

	Parametri: 
				@param id: 				id and name of the input
				@param label:			label above the input
				@param iconClass:		class of the icon
				@param placeholder:     input placeholder
				@param maxlenght:     	input maxlength
				@param colSize:			column size of the div. Use 8 ad default, use 12 for inner input


 -->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div
		th:fragment="select-field (id, label, iconClass, defaultValue, texts, colSize)"
		class="inputs">
		<label th:for="${id}" th:text="${label}">Seleziona</label>
		<div
			th:class="'wizard-input-section input-group col-md-' + ${colSize}">
			<span class="input-group-addon"><i th:class="${iconClass}"></i></span>
			<select th:id="${id}" th:name="${id}" class="form-control"
				required="required">
				<option value="" th:text="${defaultValue}"></option>
				<option th:each="text : ${texts}" th:value="${text.getKey()}"
					th:text="${text.getValue()}"></option>
			</select>

		</div>
	</div>
</body>
</html>