<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/dashboard-layout">

<!-- Page head -->
<head>
<title>In Costruzione</title>

</head>

<!-- Page body -->
<body class="skin-blue">
	<div layout:fragment="content">
		<aside class="right-side">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>DEBUG</h1>
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Debug</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">

				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header">
								<i class="fa fa-plus-square"></i>
								<h3 class="box-title"></h3>
							</div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12">
										<h2>Debugging Informations</h2>
										
										<h4>WebUI Server</h4>
										<p>Project Version:
											<span th:text="${projectVersion}"></span>
										</p>
										<p>Hostname:
											<span th:text="${hostname}"></span>
										</p>	
																			
										<h4>API Server</h4>
										<p th:if="${debugInfo} != null">										
											<p>Project Version:
												<span th:text="${debugInfo.projectVersion}"></span>
											</p>
											<p>Hostname:
												<span th:text="${debugInfo.serverHostname}"></span>
											</p>
										</p>
										<p th:unless="${debugInfo} != null">Failed to retrieve informations !</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- Footer -->

			<div th:replace="fragments/footer :: footer"></div>
		</aside>
	</div>
	<!-- End content -->
</body>
</html>