<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/public-layout">

<!-- Page head -->
<head>
<title th:text="#{signupPage.title}"></title>
</head>

<!-- Page body -->
<body>
	<!-- Content -->
	<div layout:fragment="content">
		<div class="box box-primary shadowbox">
			<div class="box-header">
				<i class="fa fa-user"></i>
				<h3 class="box-title">Completa il tuo profilo</h3>     
			</div>
			<!-- ./box-header -->
			<div class="box-body">
				<div class="row">
					<aside class="col-md-4">
						<div class="list-group" style="margin-bottom: 0;">
							<a th:href="@{/accounting/signup}"
								th:title="#{signupPage.newaccountRequest}" class="list-group-item active">
								<h4 class="list-group-item-heading" th:text="#{signupPage.accountRequest}"></h4>
								<p id="signup" class="list-group-item-text" th:text="#{signupPage.createAccount}"></p>
							</a> <a href="./signin.html" th:href="@{/accounting/signin}"
								th:title="#{signupPage.login}" class="list-group-item">
								<h4 class="list-group-item-heading" th:text="#{signupPage.login}"></h4>
								<p class="list-group-item-text" th:text="#{signupPage.sso}"></p>
							</a> <a href="./accounting-support.html"
								th:href="@{/accounting/support}" th:title="#{signupPage.assistance}"
								class="list-group-item">
								<h4 class="list-group-item-heading" th:text="#{signupPage.assistance}"></h4>
								<p class="list-group-item-text" th:text="#{signupPage.problemAccess}"></p>
							</a>
						</div>
					</aside>
					<div class="col-md-8">
						<hr class="hidden-md hidden-lg" />
						<div class="well" style="margin-bottom: 0">
							<h3>Registrazione effettuata con successo</h3>
						</div>
					</div>
					<!-- ./col -->
				</div>
				<!-- ./row -->
			</div>
			<!-- ./box-body -->
		</div>
		<!-- ./box -->
	</div>
	<!-- End content -->
</body>

</html>