<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/dashboard-layout">

<!-- Page head -->
<head>
<title th:text="#{title.condition}"></title>

<!-- faq theme style -->
<link href="../../../webapp/static/assets/css/docs.min.css"
	th:href="@{/static/assets/css/docs.min.css}" rel="stylesheet"
	type="text/css" />
<!-- Faq Scripts -->
<script src="../../../webapp/static/assets/js/docs.min.js"
	th:src="@{/static/assets/js/docs.min.js}"></script>

</head>

<!-- Page body -->
<body class="skin-blue">
	<div layout:fragment="content">
		<aside class="right-side">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Termini e condizioni</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-cogs"></i> Home</a></li>
					<li class="active">Termini e condizioni</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">


				<div class="bs-docs-container">
					<div class="row">
						<div class="col-md-9" role="main">
							<div class="bs-docs-section">

								<h1 id="c1-license">Licenza Apache 2.0</h1>
								<hr />

								<p>Versione 2.0, gennaio 2004</p>
								<p>
									<a href="http://www.apache.org/licenses/">http://www.apache.org/licenses/</a>
								</p>
								<p>TERMINI E CONDIZIONI PER L'USO, LA RIPRODUZIONE E LA
									DISTRIBUZIONE</p>

								<h3 id="c1-definition">1. Definizioni</h3>
								<p>Per "Licenza" si intendono i termini e le condizioni per
									l'uso, la riproduzione e la distribuzione, così come definiti
									nelle Sezioni da 1 a 9 del presente documento.</p>
								<p>Per "Licenziante" si intende il proprietario del
									copyright, o l'entità autorizzata da quest'ultimo, che concede
									la Licenza.</p>
								<p>Per "Entità giuridica" si intende l'insieme dell'entità
									agente e di tutte le altre entità che controllano, sono
									controllate da o si trovano sotto comune controllo con tale
									entità. Ai fini della presente definizione, per "controllo" si
									intende (i) la potestà, diretta o indiretta, di dirigere o
									gestire la suddetta entità, per contratto o altrimenti, (ii) la
									titolarità di almeno il cinquanta per cento (50%) delle azioni
									in circolazione, oppure (iii) la proprietà di tale entità.</p>
								<p>Per "Utente" (o "Dell'Utente") si intende un'entità
									fisica o giuridica che esercita le autorizzazioni concesse
									dalla presente Licenza.</p>
								<p>Per formato "Sorgente" si intende il formato preferito
									per apportare modifiche, ad esempio il codice sorgente del
									software o della documentazione e i file di configurazione.</p>
								<p>Per formato "Oggetto" si intende qualsiasi formato
									risultante dalla trasformazione meccanica o dalla traduzione di
									un formato Sorgente, ivi inclusi, in via esemplificativa,
									codice di oggetto compilato, documentazione generata e
									conversioni in altri tipi di file multimediali.</p>
								<p>Per "Opera" si intende l'opera d'autore, in formato
									Sorgente od Oggetto, resa disponibile nei termini della
									Licenza, come indicato dall'avviso di copyright incluso o
									incorporato nell'opera (un esempio è fornito più avanti
									nell'Appendice).</p>
								<p>Per "Opere derivate" si intende qualsiasi opera, in
									formato Sorgente od Oggetto, che sia basata sull'Opera (o
									derivata dalla medesima) e le cui revisioni editoriali,
									annotazioni, elaborazioni e altre modifiche rappresentino, nel
									complesso, un'opera d'autore originale. Ai fini della presente
									Licenza, le Opere derivate non comprendono le opere separabili
									dall'Opera o dalle rispettive Opere derivate, né le opere
									meramente collegate (o associate per nome) alle interfacce
									delle medesime.</p>
								<p>Per "Contributo" si intende qualsiasi opera d'autore,
									inclusa la versione originale, le modifiche o le aggiunte
									all'Opera o le Opere derivate, inviata intenzionalmente al
									Licenziante affinché il proprietario del copyright o un'entità
									fisica o giuridica autorizzata dal medesimo la includa
									nell'Opera. Ai fini della presente definizione, per "invio" si
									intende qualsiasi comunicazione elettronica, verbale o scritta
									inviata al Licenziante o ai suoi rappresentanti, ivi incluse,
									in via esemplificativa, comunicazioni tramite mailing list,
									sistemi di controllo del codice sorgente e sistemi di
									registrazione dei problemi gestiti dal Licenziante, o per conto
									di quest'ultimo, allo scopo di commentare e migliorare l'Opera.
									Sono escluse le comunicazioni contrassegnate in modo evidente o
									altrimenti designate per iscritto dal proprietario del
									copyright come non costituenti contributo.</p>
								<p>Per "Collaboratore" si intende il Licenziante e chiunque,
									entità fisica o giuridica, per conto di cui il Licenziante
									abbia ricevuto un Contributo successivamente incorporato
									nell'Opera.</p>


								<h3 id="c1-license-copyright">2. Concessione della licenza
									di copyright</h3>
								<p>In conformità ai termini e alle condizioni della presente
									Licenza, ogni Collaboratore concede all'Utente una licenza di
									copyright permanente, valida in tutto il mondo, non esclusiva,
									senza addebiti né royalty, e irrevocabile per la riproduzione,
									la creazione di Opere derivate, la visualizzazione o l'utilizzo
									pubblico, la concessione in sottolicenza e la distribuzione
									dell'Opera e delle Opere derivate in formato Sorgente od
									Oggetto.</p>

								<h3 id="c1-license-patent">3. Concessione della licenza di
									brevetto</h3>
								<p>In conformità ai termini e alle condizioni della presente
									Licenza, ogni Collaboratore concede all'Utente una licenza di
									brevetto permanente, valida in tutto il mondo, non esclusiva,
									senza addebiti né royalty, e irrevocabile (con le eccezioni
									descritte nella presente sezione) per la creazione, in passato
									e nel presente, l'uso, l'offerta, la vendita, l'importazione e
									il trasferimento in altro modo dell'Opera. Tale licenza si
									applica unicamente alle caratteristiche che il Collaboratore
									può concedere in licenza in quanto necessariamente violate dal
									suo Contributo, da solo o in combinazione con l'Opera a cui il
									Contributo è stato incorporato. Se l'Utente avvia un
									contenzioso contro un'entità (inclusa una domanda
									riconvenzionale o controreclamo in una causa legale)
									dichiarando che l'Opera o un Contributo all'interno della
									stessa costituisce una violazione, diretta o in concorso, del
									brevetto, qualsiasi licenza di brevetto concessa all'Utente nei
									termini della presente Licenza decade fino alla conclusione del
									contenzioso.</p>

								<h3 id="c1-redistribution">4. Ridistribuzione</h3>
								<p>L'Utente può riprodurre e distribuire copie dell'Opera o
									delle Opere derivate in qualsiasi modo, con o senza modifiche e
									in formato Sorgente od Oggetto, purché rispetti le seguenti
									condizioni:</p>
								<ol>
									<li>
										<p>Tutti i destinatari dell'Opera o delle Opere derivate
											devono ricevere una copia della presente Licenza.</p>
									</li>
									<li>
										<p>Nei file modificati deve essere presente in modo ben
											visibile una dichiarazione attestante che i file sono stati
											modificati e l'autore delle modifiche.</p>
									</li>
									<li>
										<p>Nel formato Sorgente delle Opere derivate distribuite
											devono essere mantenuti tutti gli avvisi di copyright,
											brevetto, marchio e attribuzione presenti nel formato
											Sorgente dell'Opera, esclusi gli avvisi non rilevanti per le
											Opere derivate.</p>
									</li>
									<li>
										<p>Se la distribuzione dell'Opera include un file di testo
											di avvisi, qualsiasi Opera derivata distribuita deve
											includere una copia leggibile degli avvisi di attribuzione
											all'interno di tale file di avvisi, esclusi quelli non
											rilevanti per le Opere derivate, in almeno una delle seguenti
											posizioni: all'interno di un file di testo di avvisi
											distribuito con le Opere derivate; all'interno del formato
											Sorgente o della documentazione, se fornita con le Opere
											derivate; all'interno di una visualizzazione generata dalle
											Opere derivate, se e nei punti in cui tali avvisi di terzi
											vengono normalmente visualizzati. Il contenuto del file di
											avvisi è a solo scopo informativo e non modifica la Licenza.
											All'interno delle Opere derivate che si distribuiscono è
											possibile aggiungere i propri avvisi di attribuzione, insieme
											o in aggiunta al testo di avvisi relativo all'Opera, purché
											tali avvisi aggiuntivi non costituiscano una modifica della
											Licenza. È possibile aggiungere una dichiarazione di
											copyright alle proprie modifiche e indicare termini e
											condizioni per l'uso, la riproduzione o la distribuzione
											delle proprie modifiche o delle eventuali Opere derivate nel
											complesso, purché l'uso, la riproduzione e la distribuzione
											dell'Opera da parte dell'autore delle modifiche rispetti le
											condizioni indicate nella presente Licenza.</p>
									</li>
								</ol>

								<h3 id="c1-submission-of-contributions">5. Invio di
									contributi</h3>
								<p>Se non esplicitamente dichiarato altrimenti, i Contributi
									intenzionalmente inviati dall'Utente al Licenziante per
									l'inclusione nell'Opera devono rispettare i termini e le
									condizioni della presente Licenza, senza termini o condizioni
									aggiuntive. Ciononostante, quanto qui dichiarato non
									sostituisce o modifica i termini di eventuali contratti di
									licenza separati sottoscritti dall'Utente e dal Licenziante
									relativamente ai Contributi.</p>

								<h3 id="c1-trademarks">6. Marchi commerciali</h3>
								<p>La presente Licenza non concede l'autorizzazione all'uso
									di nomi e marchi commerciali, marchi di servizio o nomi di
									prodotti del Licenziante, eccetto nella misura richiesta,
									secondo un uso normale e ragionevole, per descrivere l'origine
									dell'Opera e riprodurre il contenuto del file di avvisi.</p>

								<h3 id="c1-disclaimer-of-warranty">7. Esclusione di
									garanzia</h3>
								<p>Se non richiesto dalla legislazione in vigore o
									concordato per iscritto, il Licenziante fornisce l'Opera (e i
									Collaboratori forniscono i propri Contributi) "COSÌ COM'È",
									SENZA GARANZIE O CONDIZIONI DI ALCUN TIPO, esplicite o
									implicite, incluse, senza alcuna limitazione, garanzie o
									condizioni di TITOLARITÀ, NON VIOLAZIONE DEI DIRITTI ALTRUI,
									COMMERCIABILITÀ O IDONEITÀ A UN FINE PARTICOLARE. L'Utente è
									l'unico responsabile di determinare l'idoneità dell'uso o della
									ridistribuzione dell'Opera e si assume tutti i rischi associati
									all'esercizio delle autorizzazioni concesse dalla presente
									Licenza.</p>

								<h3 id="c1-limitation-of-liability">8. Limitazione di
									responsabilità</h3>
								<p>In nessun caso e in base a nessuna teoria legale, a
									seguito di illecito (inclusa la negligenza), azione
									contrattuale o altro, se non richiesto dalla legislazione in
									vigore (ad esempio atti deliberati e gravemente negligenti) o
									concordato per iscritto, un Collaboratore potrà essere ritenuto
									responsabile nei confronti dell'Utente per danni, inclusi danni
									diretti, indiretti, incidentali, speciali o consequenziali di
									qualsiasi tipo derivanti dalla presente Licenza, dall'uso o
									dall'incapacità di usare l'Opera (ivi inclusi, in via
									esemplificativa, danni per perdita di avviamento, interruzione
									di attività, guasto o malfunzionamento di computer o altri
									danni o perdite commerciali), anche se il Collaboratore era
									stato informato della possibilità del verificarsi di tali
									danni.</p>

								<h3 id="c1-accepting-warranty-or-additional-liability">9.
									Accettazione di garanzia o responsabilità aggiuntiva</h3>
								<p>Quando ridistribuisce l'Opera o le Opere derivate,
									l'Utente può scegliere di offrire, a pagamento, l'accettazione
									di assistenza, garanzia, indennizzo o altri obblighi e/o
									diritti conformi alla presente Licenza. Tuttavia, accettando
									tali obblighi l'Utente è autorizzato ad agire esclusivamente
									per conto proprio e sotto la propria responsabilità, non per
									conto di altri Collaboratori, e solo se accetta di
									indennizzare, difendere e considerare esente da responsabilità
									o altri reclami ogni Collaboratore, accettando tale garanzia o
									responsabilità aggiuntiva.</p>

							</div>
						</div>
						<div class="col-md-3">
							<div
								class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top"
								role="complementary">
								<ul class="nav bs-docs-sidenav">
									<li class="active"><a href="#c1-license">Licenza</a>
										<ul class="nav">
											<li><a href="#c1-definition">Definizioni</a></li>
											<li><a href="#c1-license-copyright">Concessione
													della licenza di copyright</a></li>
											<li><a href="#c1-license-patent">Concessione della
													licenza di brevetto</a></li>
											<li><a href="#c1-redistribution">Ridistribuzione</a></li>
											<li><a href="#c1-submission-of-contributions">Invio
													di contributi</a></li>
											<li><a href="#c1-trademarks">Marchi commerciali</a></li>
											<li><a href="#c1-disclaimer-of-warranty">Esclusione
													di garanzia</a></li>
											<li><a href="#c1-limitation-of-liability">Limitazione
													di responsabilità</a></li>
											<li><a
												href="#c1-accepting-warranty-or-additional-liability">Accettazione
													di garanzia o responsabilità aggiuntiva</a></li>
										</ul></li>
								</ul>
								<a class="back-to-top" href="#top"> <i
									class="fa fa-arrow-up"></i>&nbsp;Torna Su
								</a>
							</div>
						</div>
					</div>

				</div>


			</section>
			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"></div>
		</aside>
	</div>
	<!-- End content -->
</body>

</html>
