<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/dashboard-layout">

<!-- Page head -->
<head>
<title th:text="#{title.token}"></title>

<script th:src="@{/static/assets/js/jquery.ui.widget.js}"
	type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script th:src="@{/static/assets/js/dialog/token.js}"
	type="text/javascript"></script>
<link rel="stylesheet"
	th:href="@{/static/assets/css/bootstrap-table.css}" />
<script th:src="@{/static/assets/js/bootstrap-table.js}"
	type="text/javascript"></script>


<script type="text/javascript"> 
(function ($) {
    'use strict';
    $.extend($.fn.bootstrapTable.defaults, {
        formatLoadingMessage: function () {
            return 'Caricamento in corso…';
        },
        formatRecordsPerPage: function (pageNumber) {
            return pageNumber + ' token per pagina';
        },
        formatShowingRows: function (pageFrom, pageTo, totalRows) {
            return 'Token mostrati da ' + pageFrom + ' a ' + pageTo + ' (Numero totale di token: ' + totalRows + ')';
        },
        formatNoMatches: function () {
            return 'Nessun token trovato';
        },
        formatToggle: function () {
            return 'Alternare';
        },
        formatColumns: function () {
            return 'Colonne';
        }
    });
})(jQuery);




</script>
</head>

<!-- Page body -->
<body class="skin-blue">
	<div layout:fragment="content">
		<aside class="right-side">
			<section class="content-header">
				<h1>Token</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/token}"> Token</a></li>
					<li class="active">TOKEN</li>
				</ol>
			</section>

			<!-- Modal -->
			<!-- Main content -->
			<section class="content">

				<div class="bs-docs-section" style="margin-bottom: 20px">

					<div class="row">
						<div class="col-lg-10 col-md-9 hidden-sm hidden-xs">
							<p class="text-justify" th:utext="#{text.token}"></p>
						</div>

						<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 pull-right">
							<a class="btn btn-primary navbar-btn pull-right" role="button"
								data-toggle="modal" id="buttonCreateToken"
								data-target="#modalCreateToken">Crea un token</a>
						</div>
					</div>
					<hr />
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-primary">
							<div class="box-header">
								<i class="fa fa-list-ul"></i>
								<h3 class="box-title">Lista Token</h3>
							</div>

							<!-- Prova tabella inizio    table-responsive no-padding -->
							<div class="box-body">
								<table id="tableToken" data-toggle="table"
									data-url="/async/token" data-cache="false"
									data-pagination="true" data-side-pagination="server"
									data-page-size="10" data-page-list="[10]">
									<thead>
										<tr>
											<th class="col-md-6" data-field="tokenId" data-sortable="true">Token</th>
											<th class="col-md-2" data-field="createdAt" data-formatter="dateFormatter" data-sortable="true" > Data
												creazione</th>
											<th class="col-md-2" data-field="expiresAt" data-formatter="dateFormatter" data-sortable="true">Data scadenza</th>
											<th class="col-md-2" data-field="tokenId"
												data-formatter="tokenRevokeButtonFormatter">Revoca</th>
										</tr>
									</thead>

								</table>
								<div class="pull-right pagination"></div>
							</div>
						</div>
					</div>


					<!-- Inizio dialog conferma -->

					<div class="modal fade" id="modalDeleteToken"
						data-backdrop="static" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true" style="">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title" id="mymodalDeleteToken">Revoca</h4>
								</div>
								<div class="modal-body">
									<div class="box-body table-responsive no-padding">
										<div id="deleteTokenInfo"> </div>
									</div>
								</div>
								<div class="modal-footer">
									<i id="loadingDeleteIcon" class="fa fa-refresh fa-spin hidden"></i>
									<button type="button" id="okRevokeButton"
										class="btn btn-primary">Conferma</button>
									<button type="button" id="dismissButton"
										class="btn btn-primary hidden">Ok</button>
								</div>

							</div>
						</div>
					</div>
					<!-- fine dialog conferma -->

<!-- Modal -->
			<div class="modal fade" id="modalCreateToken"
				data-backdrop="static" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true" style="">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="myModalActiveEMAIL">Crea un
								token</h4>
						</div>
						<div class="modal-body">
							<div class="box-body table-responsive no-padding">
								<div id="createTokenInfo"></div>
							</div>
						</div>
						<div class="modal-footer">
							<i id="loadingCreateIcon" class="fa fa-refresh fa-spin hidden"></i>
							<button type="button" id="createdButton" class="btn btn-primary hidden">Ok</button>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Modal -->
				</div>
			</section>


			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"></div>
		</aside>
	</div>



	<!-- End content -->
</body>

</html>