<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/dashboard-layout">

<head>
<title th:text="#{title.app}"></title>


<link rel="stylesheet"
	th:href="@{/static/assets/css/bootstrap-table.css}" />
<script th:src="@{/static/assets/js/bootstrap-table.js}"
	type="text/javascript"></script>


<script type="text/javascript">
(function ($) {
    'use strict';
    $.extend($.fn.bootstrapTable.defaults, {
        formatLoadingMessage: function () {
            return 'Caricamento in corso…';
        },
        formatRecordsPerPage: function (pageNumber) {
            return pageNumber + ' records per pagina';
        },
        formatShowingRows: function (pageFrom, pageTo, totalRows) {
       		if(totalRows == 0){
                return '';
			}
            return 'Ambienti mostrati: da ' + pageFrom + ' a ' + pageTo + ' (Numero totale di ambienti: ' + totalRows + ')';
        },
        formatSearch: function () {
            return 'Cerca';
        },
        formatNoMatches: function () {
            return 'Nessun ambiente trovato.';
        },
        formatRefresh: function () {
            return 'Rinfrescare';
        },
        formatToggle: function () {
            return 'Alternare';
        },
        formatColumns: function () {
            return 'Colonne';
        }
    });
})(jQuery);
</script>


<script th:inline="javascript">
/*<![CDATA[*/
  	

	//var serviceId = [[${appaasId}]];
	

	var configForm = [[${appConfigForm}]];
	function restoreDefaultConfiguration(){

		event.preventDefault();
		$('#description-error').addClass('hidden');
		$('#description').val(configForm['description']);
	}

	jQuery(document).ready(function () {
		setTimeout(function() {
			$("#saveConfiguration").text('Salva');
			$("#saveConfiguration").removeClass("disabled");
		}, 3000);
	});

	function statusMenuFormatter(value, row, index) {

		var id = row["id"];
		var appaasId = row["appaasId"];
		var name = row["name"];
		var workgroupId = row["workgroupId"];
		
		var statusData = getStatusData(value);

		return  '<div class="btn-group" style="width: 195px;"> <button type="button" class="btn-sm ' + statusData.dropdownMenu.tagClass +'" id="status-'+id+'" service-status="'+status+'" style="width: 170px;">'+ statusData.dropdownMenu.text.toUpperCase() +'</button>' +
		  		'<button type="button" class="' + statusData.dropdownMenu.tagClass  + ' btn-sm dropdown-toggle '+(statusData.dropdownMenu.disabled ?'disabled':'')+'" id="statusDropdown-'+id+'" data-toggle="dropdown" aria-expanded="false">' +
		  		'<span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>' +
		  		'<ul class="dropdown-menu" role="menu">' +
		  		//'<li><a data-toggle="modal" data-target="#modalManageService" id="startService-'+id+'" '+(statusData.startService.hidden?'class="hidden" ':'')+'onClick="openManageServiceDialog('+workgroupId+','+ appaasId+','+id + ',\'' + name +'\', \'' + STATUS_STARTING + '\')" href="#">Avvia</a></li>' +
				//'<li><a data-toggle="modal" data-target="#modalManageService" id="restartService-'+id+'" '+(statusData.restartService.hidden?'class="hidden" ':'')+'onClick="openManageServiceDialog('+workgroupId+','+ appaasId+','+id + ',\'' + name +'\', \'' + STATUS_RESTARTING + '\')" href="#">Riavvia</a></li>' +
				//'<li><a data-toggle="modal" data-target="#modalManageService" id="stopService-'+id+'" '+(statusData.stopService.hidden?'class="hidden" ':'')+'onClick="openManageServiceDialog('+workgroupId+','+ appaasId+','+id + ',\'' + name +'\', \'' + STATUS_STOPPING + '\')"  href="#">Spegni</a></li>' +
				//'<li id="dropdownMenuDivider-'+id+'" class="divider"></li>'+
				'<li><a data-toggle="modal" data-target="#modalManageService" id="deleteService-'+id+'" '+(statusData.deleteService.hidden?'class="hidden" ':'')+'onClick="openManageServiceDialog('+workgroupId+','+ appaasId+','+id + ',\'' + name +'\', \'' + STATUS_UNDEPLOY_IN_PROGRESS + '\')" href="#">Elimina</a></li>' +
				'</ul></div>';
	}

	function openManageServiceDialog(workgroupId, appaasId, envId, serviceName, action) {
		$('#loadingManageServiceIcon').addClass("hidden");
		$('#confirmManageServiceButton').removeClass("hidden");
		$('#dismissButton').html("Annulla");
		$("#confirmManageServiceButton").unbind('click');
		switch (action) {
		case STATUS_STARTING:
			$("#confirmManageServiceButton").click(function(){
					/* var request = startAndStopService("/service/workgroups/" + workgroupId + "/paas/appaas/" + appaasId + "/environments/" + envId + "/start/", STATUS_STARTING, envId);
					$('#dismissButton').unbind('click');
					$('#dismissButton').click(function(request){try{request.abort();}catch(err){}}); */
				});
			$('#manageServiceInfo').html(
					"Sei sicuro di voler avviare l'ambiente <b>" + serviceName + "</b>?");
			$('#mymodalManageService').html("Avvia");
			break;
		case STATUS_RESTARTING:
			$("#confirmManageServiceButton").click(function(){
				/* var request = startAndStopService("/service/workgroups/" + workgroupId + "/paas/appaas/" + appaasId + "/environments/" + envId + "/restart/", STATUS_RESTARTING, envId);
				$('#dismissButton').unbind('click');
				$('#dismissButton').click(function(request){try{request.abort();}catch(err){}}); */
			});
			$('#manageServiceInfo').html(
					"Sei sicuro di voler riavviare l'ambiente <b>" + serviceName + "</b>?");
			$('#mymodalManageService').html("Riavvia");
			break;
		case STATUS_STOPPING:
			$("#confirmManageServiceButton").click(function(){
				/* var request = startAndStopService("/service/workgroups/" + workgroupId + "/paas/appaas/" + appaasId + "/environments/" + envId + "/stop/", STATUS_STOPPING, envId);
				$('#dismissButton').unbind('click');
				$('#dismissButton').click(function(request){try{request.abort();}catch(err){}}); */
			});
			$('#manageServiceInfo').html(
					"Sei sicuro di voler arrestare l'ambiente <b>" + serviceName + "</b>?");
			$('#mymodalManageService').html("Arresta");
			break;
		case STATUS_UNDEPLOY_IN_PROGRESS:
			$("#confirmManageServiceButton").click(function(){
				var request = deleteService("/async/workgroups/" + workgroupId + "/paas/appaas/" + appaasId + "/environments/" + envId, envId);
				$('#dismissButton').unbind('click');
				$('#dismissButton').click(function(request){try{request.abort();}catch(err){}});
			});
			$('#manageServiceInfo').html(
					"Sei sicuro di voler eliminare l'ambiente <b>" + serviceName + "</b>?");
			$('#mymodalManageService').html("Elimina");
			break;
		}
	}
	
	/*]]>*/
</script>

</head>

<!-- Page body -->
<body class="skin-blue">
	<div layout:fragment="content">
		<aside class="right-side">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Dashboard <small> APPaaS</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-cogs"></i> Servizi PaaS</a></li>
					<li><a th:href="@{/paas/appaas/}"> APPaaS</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-offset-10 col-md-2">
						<h3>
							<!-- Button with pull-right-->
							<a
								th:href="@{'/paas/appaas/'} + ${service.getId()} + @{'/environments/create'}"
								class="btn btn-primary navbar-btn pull-right">Crea un nuovo
								ambiente</a>
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>
							<span id="dbaasId" th:text="${service.getId()}"
								class="hidden"></span> <b><span id="dashboardTitle"
								th:text="${service.getName()}"></span></b>
						</h3>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-2">
						<ul id="myTab" class="nav nav-pills nav-stacked">
							<li th:class="${isDashboard} ? active" role="presentation"><a
								href="#dashboard" role="tab" data-toggle="tab"
								aria-controls="dashboard" aria-expanded="true"> Dashboard</a></li>
							<li th:class="${isConfiguration} ? active"><a
								href="#configuration" role="tab" data-toggle="tab"
								aria-controls="configuration" aria-expanded="true">Configurazione</a></li>

						</ul>
					</div>
					<div class="col-md-10">

						<div id="myTabContent" class="tab-content">
							<div role="tabpanel"
								th:class="${isDashboard} ? 'tab-pane fade active in' : 'tab-pane fade in'"
								id="dashboard" aria-labelledby="dashboard-tab">

								<div class="row">
									<div class="col-xs-12">
										<div class="box box-primary">
											<div class="box-header">
												<i class="fa fa-calendar"></i>
												<h3 class="box-title">Elenco Ambienti</h3>
											</div>
											<div class="box-body">
												<table data-toggle="table" data-cache="false"
													th:attr="data-url=@{'/async/paas/appaas/'} + ${service.getId()} + @{'/environments'}"
													data-url="environments" data-side-pagination="server"
													data-pagination="true" data-page-size="10"
													data-page-list="[10]">
													<thead>
														<th class="col-md-3" data-field="name"
															data-sortable="true" data-formatter="appNameFormatter">Nome</th>
														<th class="col-md-7" data-field="description"
															data-sortable="true">Descrizione</th>
														<th class="col-md-2" data-formatter="statusMenuFormatter"
															data-field="status">Stato</th>
													</thead>
												</table>
												<div class="pull-right pagination"></div>
											</div>
										</div>
									</div>
								</div>
							</div>





							<div role="tabpanel"
								th:class="${isConfiguration} ? 'tab-pane fade active in' : 'tab-pane fade in'"
								id="configuration" aria-labelledby="configuration-tab">


								<div class="box box-primary">
									<div class="box-header">
										<i class="fa fa-cog"></i>
										<h3 class="box-title">Configurazioni</h3>
									</div>
									<div class="box-body">
										<form action="#"
											th:action="@{'/paas/appaas/'} + ${service.getId()}"
											th:object="${appConfigForm}" method="post">
											<div class="row">
												<div class="col-md-12">
													<!-- Nome dell’Applicazione -->
													<label for="serviceName" style="margin-top: 10px;">Nome
														dell’Applicazione</label>
													<div class="'wizard-input-section input-group col-md-12">
														<span class="input-group-addon"><i
															class="fa fa-file-text-o"></i></span> <input type="text"
															th:field="*{serviceName}" class="form-control"
															readonly="readonly" />
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<label>Descrizione</label>
													<div
														class="'checkbox wizard-input-section input-group col-md-12"
														style="margin-top: 0">
														<span class="input-group-addon"><i
															class="fa fa-file-text-o"></i></span>
														<textarea class="form-control" th:field="*{description}"
															rows="10" cols="6" maxlength="200" style="resize: none"></textarea>
													</div>
													<div th:if="${#fields.hasErrors('description')}">
														<div class="alert alert-info alert-dismissable col-md-12"
															role="alert" id="description-error">
															<button type="button" class="close" data-dismiss="alert">
																<span aria-hidden="true">&times;</span><span
																	class="sr-only">Chiudi</span>
															</button>
															<div class="error-msg">
																<strong>Errore!</strong> La descrizione del servizio deve:
																<ul>
																	<li>avere una lunghezza minima di 4 caratteri e massima di 200</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="row" style="margin-top: 25px;">
												<div class="col-md-12 text-right">
													<button class="btn btn-default"
														onClick="restoreDefaultConfiguration()">Ripristina</button>
													<button id="saveConfiguration" class="btn btn-primary" type="submit" 
													 th:text="${isConfiguration} ? ${configurationStatus} : 'Salva'"  th:class="${isUpdated} ? 'btn btn-primary disabled' : 'btn btn-primary'">Salva</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>






						</div>
					</div>
					<!-- Inizio dialog conferma -->
					<div class="modal fade" id="modalManageService"
						data-backdrop="static" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true" style="">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title" id="mymodalManageService"></h4>
								</div>
								<div class="modal-body">
									<div class="box-body table-responsive no-padding">
										<div id="manageServiceInfo"> </div>
									</div>
								</div>
								<div class="modal-footer">
									<i id="loadingManageServiceIcon" class="fa fa-refresh fa-spin hidden"></i>
									<button type="button" id="confirmManageServiceButton"
										class="btn btn-primary">Conferma</button>
									<button type="button" id="dismissButton"
										class="btn btn-primary" data-dismiss="modal">Annulla</button>
								</div>

							</div>
						</div>
					</div>
					<!-- fine dialog conferma -->
				</div>
			</section>


			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"></div>
		</aside>
	</div>
	<!-- End content -->
</body>

</html>