<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/dashboard-layout">

<head>
<title th:text="#{title.app}"></title>


<script type="text/javascript">
(function ($) {
    'use strict';
    $.extend($.fn.bootstrapTable.defaults, {
        formatLoadingMessage: function () {
            return 'Caricamento in corso…';
        },
        formatRecordsPerPage: function (pageNumber) {
            return pageNumber + ' records per pagina';
        },
        formatShowingRows: function (pageFrom, pageTo, totalRows) {
            if(totalRows == 0){
				return '';
            }
            return 'Eventi mostrati da ' + pageFrom + ' a ' + pageTo + ' (Numero totale di eventi ' + totalRows + ')';
        },
        formatSearch: function () {
            return 'Cerca';
        },
        formatNoMatches: function () {
            return 'Nessun record trovato';
        },
        formatRefresh: function () {
            return 'Rinfrescare';
        },
        formatToggle: function () {
            return 'Alternare';
        },
        formatColumns: function () {
            return 'Colonne';
        }
    });
})(jQuery);


</script>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/	
  
	//Global variables
	var serviceId = [[${serviceId}]];
	var appId = [[${appId}]];
	var workgroupId = [[${workgroupId}]];
	var name = [[${name}]];
	
	var timerMultiplierStatus = 1;
	var timeoutStatus;

	
	$(document).ready(function() {
		
		//Aggiorno l'interfaccia
		var actualStatus = $("#status").text();
		updateGUI(actualStatus, '#statusIcon');
		updateConfiguration();
		
		//Quando l'utente preme refresh nella tabella eventi -> aggiorno anche lo stato
		$('#recentEvents').bootstrapTable({ }).on('load-success.bs.table', function (e, data) {
			doPollRequest();
		});

		
		//Funcion in order to have dynamic tabs changing
		$('#myTab a').click(function (e) {
			  e.preventDefault()
			  $(this).tab('show')
		});
		
		$("#stopService").click(function() {
 			openManageServiceDialog(STATUS_STOPPING);
		});

		$("#startService").click(function() {
			openManageServiceDialog(STATUS_STARTING);
		});

		$("#restartService").click(function() {
			openManageServiceDialog(STATUS_RESTARTING);
		});

		$("#deleteService").click(function() {
			openManageServiceDialog(STATUS_UNDEPLOY_IN_PROGRESS);
		});	
		
		poll();


		$('#notificationEmail').focus(function() {
			$('#notificationEmail-error').addClass('hidden');
		});
	});


	var configForm = [[${envConfigForm}]];
	function restoreDefaultConfiguration(){

		event.preventDefault();
		$('#notificationEmail-error').addClass('hidden');
		$('#notificationEmail').val(configForm['notificationEmail']);
	}
	
	function poll() {
		timeoutStatus = setTimeout(function(){
			
			doPollRequest();
			poll();

		}, (timerMultiplierStatus*6000));
	};


	var pollRequest;
	function doPollRequest(){
		if(pollRequest)
			pollRequest.abort();
		pollRequest = $.ajax({
			type : 'GET',
			dataType : 'json',
			url : '/async/paas/appaas/' + appId +'/environments/' + serviceId + '/update',
			success : function(data) {
				timerMultiplierStatus = 5;
				updateGUI(data["result"]["status"], '#statusIcon');
			},
			error : function(){
				timerMultiplierStatus = 5;
			}
		});				
	}

	function updateConfiguration() {
		var flavorSelected =  [[${service.iaaSFlavor}]];
		var profileSelected = [[${service.qoS}]];

		$("select#qosSelect").val([[${service.qoS}]]);
		$("select#flavorSelect").val([[${service.iaaSFlavor}]]);
		$("select#scalingSelect").val([[${instanceScaling}]]);
		
	}
	
	function openManageServiceDialog(action) {
		$('#loadingManageServiceIcon').addClass("hidden");
		$('#confirmManageServiceButton').removeClass("hidden");
		$('#dismissButton').html("Annulla");
		$("#confirmManageServiceButton").unbind('click');
		switch (action) {
		case STATUS_STARTING:
			$("#confirmManageServiceButton").click(function(){
/* 					var request = startAndStopService("/service/workgroups/" + workgroupId + "/paas/appaas/" + appId + "/environments/" + serviceId + "/start/", STATUS_STARTING);
					$('#dismissButton').unbind('click');
					$('#dismissButton').click(function(request){try{request.abort();}catch(err){}}); */
				});
			$('#manageServiceInfo').html(
					"Sei sicuro di voler avviare l'ambiente <b>" + name + "</b>?");
			$('#mymodalManageService').html("Avvia");
			break;
		case STATUS_RESTARTING:
			$("#confirmManageServiceButton").click(function(){
/* 				var request = startAndStopService("/service/workgroups/" + workgroupId + "/paas/appaas/" + appId + "/environments/" + serviceId + "/restart/", STATUS_RESTARTING);
				$('#dismissButton').unbind('click');
				$('#dismissButton').click(function(request){try{request.abort();}catch(err){}}); */
			});
			$('#manageServiceInfo').html(
					"Sei sicuro di voler riavviare l'ambiente <b>" + name + "</b>?");
			$('#mymodalManageService').html("Riavvia");
			break;
		case STATUS_STOPPING:
			$("#confirmManageServiceButton").click(function(){
/* 				var request = startAndStopService("/service/workgroups/" + workgroupId + "/paas/appaas/" + appId + "/environments/" + serviceId + "/stop/", STATUS_STOPPING);
				$('#dismissButton').unbind('click');
				$('#dismissButton').click(function(request){try{request.abort();}catch(err){}}); */
			});
			$('#manageServiceInfo').html(
					"Sei sicuro di voler arrestare l'ambiente <b>" + name + "</b>?");
			$('#mymodalManageService').html("Arresta");
			break;
		case STATUS_UNDEPLOY_IN_PROGRESS:
			$("#confirmManageServiceButton").click(function(){
				var request = deleteService("/async/workgroups/" + workgroupId + "/paas/appaas/" + appId + "/environments/" + serviceId);
				$('#dismissButton').unbind('click');
				$('#dismissButton').click(function(request){try{request.abort();}catch(err){}});
			});
			$('#manageServiceInfo').html(
					"Sei sicuro di voler eliminare l'ambiente <b>" + name + "</b>?");
			$('#mymodalManageService').html("Elimina");
			break;
		}
	}	

	/*]]>*/
</script>

</head>

<!-- Page body -->
<body class="skin-blue">
	<div layout:fragment="content">
		<aside class="right-side">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Dashboard <small>Ambiente</small>
				</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/paas/appaas}"><i class="fa fa-cogs"></i>APPaaS</a></li>
					<li><a th:href="@{'/paas/appaas/' + ${service.getAppaasId()}}">Ambienti</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-10">
						<h3>
							<span><a th:href="'http://' + ${service.getDomainName()}"
								th:text="${service.getDomainName()}" target="_blank"></a></span>
						</h3>
					</div>
					<div class="col-md-2">
						<h3>
							<div class="dropdown pull-right">
								<button class="btn btn-success btn-xs dropdown-toggle"
									disabled="disabled" type="button" id="dropdownMenu"
									data-toggle="dropdown">
									<span id="dropdownMenuText">Avviato</span> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right" role="menu"
									aria-labelledby="dropdownMenu1">
									<!-- <li role="presentation"><a data-toggle="modal" data-target="#modalManageService" id="startService"
										role="menuitem" tabindex="-1" href="#">Avvia</a></li>
									<li role="presentation"><a data-toggle="modal" data-target="#modalManageService" id="restartService"
										role="menuitem" tabindex="-1" href="#">Riavvia</a></li>
									<li role="presentation"><a data-toggle="modal" data-target="#modalManageService" id="stopService"
										role="menuitem" tabindex="-1" href="#">Spegni</a></li>
									<li role="presentation" id="dropdownMenuDivider" class="divider"></li>-->
									<li role="presentation"><a data-toggle="modal" data-target="#modalManageService" id="deleteService"
										role="menuitem" tabindex="-1" href="#">Elimina</a></li>
								</ul>
							</div>
						</h3>


					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<div class="col-md-2">
						<ul id="myTab" class="nav nav-pills nav-stacked">
							<li th:class="${isDashboard} ? active" role="presentation"><a
								href="#dashboard" role="tab" data-toggle="tab"
								aria-controls="dashboard" aria-expanded="true"> Dashboard</a></li>
							<li th:class="${isConfiguration} ? active"><a
								href="#configuration" role="tab" data-toggle="tab"
								aria-controls="configuration" aria-expanded="true">Configurazione</a></li>
							<li><a href="#vms" role="tab" data-toggle="tab"
								aria-controls="vms" aria-expanded="true">Componenti</a></li>
							<li><a href="#events" role="tab" data-toggle="tab"
								aria-controls="events" aria-expanded="true">Eventi</a></li>
						</ul>
					</div>
					<div class="col-md-10">

						<div id="myTabContent" class="tab-content">
							<div role="tabpanel"
								th:class="${isDashboard} ? 'tab-pane fade active in' : 'tab-pane fade in'"
								id="dashboard" aria-labelledby="dashboard-tab">

								<div class="row">
									<div class="col-xs-12">
										<div class="box box-primary">
											<div class="box-header">
												<i class="fa fa-calendar"></i>
												<h3 class="box-title">Overview</h3>
											</div>
											<div class="box-body">
												<div class="row">
													<div class="col-md-12">
														<h2>
															<i id="statusIcon" class="fa fa-refresh fa-spin"></i> <span
																id="status" style="margin-left: 20px;"
																th:text="${service.getStatus()}"></span>
														</h2>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div
									th:replace="fragments/dashboard/events :: events('recentEvents', 'Eventi', @{'/async/paas/appaas/'} + ${service.getAppaasId()} + @{'/environments/'} + ${service.getId()} + @{'/events'}, '10')"></div>

							</div>
							<div role="tabpanel"
								th:class="${isConfiguration} ? 'tab-pane fade active in' : 'tab-pane fade in'"
								id="configuration" aria-labelledby="configuration-tab">


								<div class="box box-primary">
									<div class="box-header">
										<i class="fa fa-cog"></i>
										<h3 class="box-title">Configurazioni</h3>
									</div>
									<div class="box-body">
										<form action="#"
											th:action="@{'/paas/appaas/'} + ${service.getAppaasId()} + @{'/environments/'} + ${service.getId()}"
											th:object="${envConfigForm}" method="post">

											<div class="row">
												<div class="col-md-12">

													<!-- Nome dell’ Ambiente -->
													<label for="serviceName" style="margin-top: 10px;">Nome
														dell’ Ambiente</label>
													<div class="'wizard-input-section input-group col-md-8">
														<span class="input-group-addon"><i
															class="fa fa-file-text-o"></i></span> <input type="text"
															th:field="*{serviceName}" class="form-control"
															readonly="readonly" />
													</div>

													<!-- Domain Name -->

													<label for="id" style="margin-top: 10px;">Domain
														Name (URL del Servizio)</label>
													<div class="'wizard-input-section input-group col-md-8">
														<span class="input-group-addon"><i
															class="fa fa-globe"></i></span> <input type="text"
															th:field="*{domainName}" class="form-control"
															readonly="readonly" />
													</div>


													<!-- EMAIL -->

													<label for="notificationEmail" style="margin-top: 10px;">Email
														per le notifiche</label>
													<div class="wizard-input-section input-group col-md-8"
														style="margin-top: 0">
														<span class="input-group-addon"><i
															class="fa fa-envelope"></i></span> <input type="text"
															th:field="*{notificationEmail}" class="form-control" />
													</div>
													<div th:if="${#fields.hasErrors('notificationEmail')}">
														<div id="notificationEmail-error"
															class="alert alert-info alert-dismissable col-md-8"
															role="alert">
															<button type="button" class="close" data-dismiss="alert">
																<span aria-hidden="true">&times;</span><span
																	class="sr-only">Chiudi</span>
															</button>
															<div class="error-msg">
																<strong>Errore!</strong> Email non corretta.
															</div>
														</div>
													</div>





													<!-- <div
														th:replace="fragments/wizard/text-field-disabled :: text-field-disabled('url', 'Domain Name (URL del Servizio)', 'fa fa-globe', ${service.domainName}, '200', 8)"></div>

													<div
														th:replace="fragments/wizard/select-field :: select-field('qosSelect', 'Profilo (Determina la QoS del servizio)', 'fa fa-bolt', 'Scegli il profilo', ${iaasProfile}, 8)"></div>

													<div
														th:replace="fragments/wizard/select-field :: select-field('flavorSelect', 'Flavor (determina la potenza di
														calcolo del servizio)', 'fa fa-desktop', 'Scegli un Flavor', ${iaasFlavor}, 8)"></div>
													<div
														th:replace="fragments/wizard/select-field :: select-field('scalingSelect', 'Scegli il numero massimo di istanze in Balancing', 'fa fa-desktop', 'Scegli il numero', ${loadBalancing}, 8)"></div> -->
												</div>
											</div>
											<div class="row" style="margin-top: 25px;">
												<div class="col-md-12 text-right">
													<button class="btn btn-default"
														onClick="restoreDefaultConfiguration()">Ripristina</button>
													<button class="btn btn-primary" type="submit">Salva</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="vms"
								aria-labelledby="vms-tab">
								<div class="row">
									<div class="col-xs-12">
										<div class="box box-primary">
											<div class="box-header">
												<i class="fa fa-desktop"></i>
												<h3 class="box-title">Componenti</h3>
											</div>
											<div class="box-body">
												<div th:if="${vms != null and !#lists.isEmpty(vms)}">
													<div class="row" th:each="vm, iteration : ${vms}">
														<div class="col-md-12">
															<div class="box box-primary">
																<div class="box-header" data-toggle="tooltip">
																	<h3 class="box-title">
																		<a
																			th:href="${service.getId()} + @{'/vms/'}  + ${vm.id}"
																			th:text="@{'Macchina Virtuale '} + ${iteration.count}"></a>
																	</h3>
																	<div class="box-tools pull-right">
																		<button class="btn btn-primary btn-xs"
																			data-widget="collapse">
																			<i class="fa fa-minus"></i>
																		</button>
																	</div>
																</div>
																<div class="box-body" style="display: block;">
																	<div class="table-responsive">
																		<table class="table table-bordered">
																			<tr>
																				<th>Tipologia di Servizio</th>
																				<th>Istanze</th>
																				<th>Max Istanze</th>
																				<th>Indirizzo IP</th>
																				<th>Stato</th>
																			</tr>
																			<tbody>
																				<tr th:each="serv : ${vm.services}">
																					<td th:switch="${serv.service.type}"><span
																						th:case="'LB_APACHE'">Load Balancer Apache</span>
																						<span th:case="'AS_TOMCAT'">Tomcat</span> <span
																						th:case="*" th:text="${serv.service.type}"></span>
																					</td>

																					<td><span
																						th:text="${serv.service.currentInstances}"></span></td>
																					<td><span
																						th:text="${serv.service.plannedInstances}"></span></td>
																					<td>
																						<div th:each="address : ${vm.inetAddresses}">
																							<span th:text="${address.ip}"></span>
																						</div>
																					</td>
																					<td th:switch="${serv.status}"><span
																						th:case="'LAUNCHING'" class="label label-primary"
																						style="display: block; width: 100px; padding-bottom: 5px; padding-top: 5px;">In
																							creazione</span> <span th:case="'RUNNING'"
																						class="label label-success"
																						style="display: block; width: 100px; padding-bottom: 5px; padding-top: 5px;">Avviato</span>
																						<span th:case="'ERROR'" class="label label-danger"
																						style="display: block; width: 100px; padding-bottom: 5px; padding-top: 5px;">
																							Errore</span> <span th:case="*"
																						class="label label-default"
																						style="display: block; width: 100px; padding-bottom: 5px; padding-top: 5px;">Sconosciuto</span>
																					</td>
																					<td align="right">
																						<!-- Monitoring metrics Link --> <i
																						class="fa fa-laptop"></i> <a
																						th:href="@{~/async/monitoring/metrics-appaas}">Metriche</a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
												<div th:if="${#lists.isEmpty(vms)}">
													<span>Nessuna machina trovata</span>
												</div>
												<div th:if="${vms == null}">
													<span>Impossibile recuperare la configurazione
														dell'ambiente</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="events"
								aria-labelledby="events-tab">

								<div
									th:replace="fragments/dashboard/events :: events('eventTable', 'Eventi', @{'/async/paas/appaas/'} + ${service.getAppaasId()} + @{'/environments/'} + ${service.getId()} + @{'/events'}, '10')"></div>


							</div>
						</div>
					</div>
					<!-- Inizio dialog conferma -->
					<div class="modal fade" id="modalManageService"
						data-backdrop="static" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true" style="">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title" id="mymodalManageService"></h4>
								</div>
								<div class="modal-body">
									<div class="box-body table-responsive no-padding">
										<div id="manageServiceInfo"> </div>
									</div>
								</div>
								<div class="modal-footer">
									<i id="loadingManageServiceIcon" class="fa fa-refresh fa-spin hidden"></i>
									<button type="button" id="confirmManageServiceButton"
										class="btn btn-primary">Conferma</button>
									<button type="button" id="dismissButton"
										class="btn btn-primary" data-dismiss="modal">Annulla</button>
								</div>

							</div>
						</div>
					</div>
					<!-- fine dialog conferma -->
				</div>
			</section>


			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"></div>
		</aside>
	</div>
	<!-- End content -->
</body>

</html>